{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'styles/mood_boardstyle.css' %}?{% now 'U' %}">
        <link href="https://fonts.googleapis.com/css?family=Nunito Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Great Vibes" rel="stylesheet">
    </head>
    <body>
        <div class="tempmain">
            <div class="navbar">
                <ul>
                <li><a class="shuffletemp" href="{% url 'shuffle' user.username moodboard.name 't2' %}" class="export">Shuffle</a></li>
                  <li><a class="exporttemp" href="{% url 'ss' %}" class="export">Export</a></li>
                  <li><a class="logouttemp" href="{% url 'logout' %}" class="login">Logout</a></li>
                </ul>   
            </div>
            <div class="bg2">
            <div class="tempcards2">
            {% for images in images %}
            <div class="card2">
                <img src="{{ images.image.url }}" width="200px" height="200px">
            </div>
            {% endfor %}
        </div>
            <div class="tempheadings2">
                <div class="temphead">{{moodboard.name}}</div>
                <div class="tempcaption">{{moodboard.description}}</div>
            </div>
            <div class="dot2">
                <div class="dots2 d21"></div>
                <div class="dots2 d22"></div>
                <div class="dots2 d23"></div>
            </div>
        </div>
        </div>
    </body>
</html>